/* ==UserStyle==
@name         マストドンWebの四角アイコンを丸くするやつ
@namespace    heguro.mastodoncircle
@version      0.0.1
@license      cc0-1.0
@preprocessor stylus
==/UserStyle== */

@-moz-document domain("mstdn.jp"), domain("fedibird.com"), domain("pawoo.net"), domain("best-friends.chat") {
  .account__avatar {
    border-radius: 50%;
  }
  
  .account__avatar-overlay-base {
    border-radius: 50%;
  }
  
  .account__avatar-overlay-overlay {
    border-radius: 50%;
  }
  
  .avatar .account__avatar {
    border-radius: 50%;
  }
}
